
<!-- HEADER -->
<nav class="navbar-horizontal">
	<ul>
		<li><a href="/phones">PHONES</a></li>
		<li><a href="/tablets">TABLETS</a></li>
		<li><a href="/socs">SOCS</a></li>
		<li><a href="/3dmarks">3DMARKS</a></li>
		<li><a href="/geekbench">GEEKBENCH</a></li>
		<li class="nav-last"><a href="/login">LOGIN/SIGNUP</a></li>
	</ul>
</nav>

<div class="homebody">
	<div class="articlegroup1 scrollblock">
		<h1 id="titlepin1">Welcome to Money Printer!</h1>
	</div>
	<div class="articlegroup2 scrollblock">
		<h1 id="titlepin2">Welcome to Money Printer!</h1>
	</div>
	<div  class="articlegroup1 scrollblock">
		<h1 id="titlepin3">Welcome to Money Printer!</h1>
	</div>

	<p>{{ tagline }}</p>
</div>