

<div class="topseg">
	<nav class="navbar-verticle"> 
		<ul>
			<li class="catactive catafirst"><a href="/phones">PHONES</a></li>
			<li class="catainact"><a href="/tablets">TABLETS</a></li>
			<li class="catainact"><a href="/socs">SOCS</a></li>
			<li class="catainact"><a href="/3dmarks">3DMARKS</a></li>
			<li class="catainact catalast"><a href="/geekbench">GEEKBENCH</a></li>
			
		</ul>   
	</nav>
	<div class="topmongo">
	<div class="devhorilayer">
		<div class="devrepeat1">
			<div class="devrate">
				<ul class="pointlight">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="devpic"> 

			</div>
		</div>

		<div class="devrepeat1">
			<div class="devrate">
				<ul class="pointlight">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="devpic"> 

			</div>
		</div>

	</div>


	</div>
</div>
<div class="scroller_anchor"></div>

<div id="midseg" class="scroller">
	<div class="catatool">
		
	</div>
	<div class="logup">
	</div>
</div>

<div class="bottomseg">
	<div class="bottomongo">


	<div class="devhorilayer">

		<div class="devrepeat2">
			<div class="devname">
				
			</div>

			<div class="devfunc1"> 

			</div>
			<div class="devfunc1"> 

			</div>
			<div class="devfunc1"> 

			</div>
			<div class="devfunc1"> 

			</div>
		</div>
	
	</div>
	</div>
</div>

